@font-face {
    font-family: 'galano';
    src: url('galano-grotesque-medium.otf');
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    background-color: #F6F3ED;
    font-family: galano;
    padding: 24px 5%;
}

.homepage,
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.login {
    margin-top: 60px;
}

.login__img-wrapper {
    width: 300px;
    margin: 0 auto;
}

.login__title {
    color: #FFC305;
    font-weight: normal;
    font-size: 40px;
    margin-top: 16px;
    text-align: center;
}

.login__logo {
    width: 80%;
    margin: 0 auto;
}

.login__input {
    padding: 6px;
    flex: 1;
}

.login__btn {
    background-color: blue;
    color: white;
    border-radius: 24px;
    padding: 8px 16px;
    border: 0;
    margin-left: 8px;
}

.login__form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    width: 50px;
    margin-right: 16px;
}

.header__text {
    color: #FFC305;
    font-weight: normal;
    font-size: 24px;
}

.header__link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.header__home-link {
    text-decoration: none;
    display: flex;
}

.homepage__main,
.play__main {
    width: 100%;
    padding-top: 24px;
}

.play__main,
.record__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.record__main {
    margin-top: 24px;
}

.play-controls:focus {
    outline: none;
}

.homepage__audio-link {
    list-style: none;
}

.homepage__list {
    padding: 0;
}

.homepage__title {
    font-size: 24px;
}

.record__list {
    background-color: #34C9A6;
    padding: 24px;
    border-radius: 16px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 24px;
}

.record__title {
    font-size: 24px;
    margin-bottom: 8px;
}

.record__checkbox-grouping {
    margin-bottom: 24px
}

.record__checkbox-grouping:last-of-type {
    margin-bottom: 0;
}

.record__label {
    width: 80%;
}

.record__checkbox-grouping {
    display: flex;
    justify-content: space-between;
}

.record__checkbox {
    width: 32px;
    height: 32px;
}

.record__start {
    background: white url('assets/microphone.svg') no-repeat center 16px/28px;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 0;
    padding-top: 24px;
    line-height: 16px;
    cursor: pointer;
    border: 3px solid red;
    position: relative;
}

.record__start--recording {
    pointer-events: none;
}

.record__start--recording:after {
    position: absolute;
    top: -10px;
    left: -10px;
    content: '';
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 4px solid #f3f3f3;
    border-top: 4px solid #34C9A6;
    animation: spin 2s linear infinite;
    border-radius: 50%;
}

.record__start:focus {
    outline: none;
}

.record__start:hover,
.record__stop:hover {
    border-color: brown;
}

.record__start:active,
.record__stop:active {
    transform: translateY(3px);
}

.record__stop {
    margin-left: 16px;
    border-color: red;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border-width: 3px;
    outline: none;
    transition: opacity 0.8s;
    border-style: solid;
    background-color: white;
}

.record__download {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 8px 16px;
    background-color:#34C9A6;
    border-radius: 8px;
    margin-top: 18px;
    transition: opacity 0.8s;
}

.record__capture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.record__sound-btns {
    display: flex;
    align-items: flex-end;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

@media only screen and (min-width: 600px) {
    .login {
        margin-top: 80px;
    }

    .login__logo {
        width: 100%;
    }

    .login__input {
        padding: 6px;
    }

    .login__form {
        width: 350px;
    }

    .header__logo {
        width: 100px;
        margin-right: 24px;
    }

    .header__text {
        font-size: 32px;
        line-height: 32px;
    }

    .record__list {
        width: 400px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 48px;
    }

    .record__capture {
        width: 300px;
    }
}