@font-face {
    font-family: 'galano';
    src: url('galano-grotesque-medium.otf');
}

body {
    background-color: #F6F3ED;
    font-family: galano;
}

.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.homepage__title {
    color: #FFC305;
    font-weight: normal;
    font-size: 40px;
    margin-top: 16px;
}

.homepage__logo {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .homepage {
        margin-top: 150px;
    }

    .homepage__logo {
        width: 100%;
    }
}